In [8]:
import pandas as pd
import numpy as np

In [9]:
aapl = pd.read_csv('../cleaned_data/Nasdaq/AAPL.csv')
spx = pd.read_csv('../cleaned_data/SPX.csv')

In [10]:
df = pd.DataFrame({
    "AAPL_Close": aapl["Close"],
    "SPX_Close": spx["Close"]
})
df.head(10)

   AAPL_Close    SPX_Close
0    6.431896  1132.989990
1    6.443016  1136.520020
2    6.340531  1137.140015
3    6.328812  1141.689941
4    6.370885  1144.979980
5    6.314685  1146.979980
6    6.242855  1136.219971
7    6.330915  1145.680054
8    6.294247  1148.459961
9    6.189058  1136.030029

In [ ]:
returns = df.pct_change().dropna()
returns.head(10)

    AAPL_Close  SPX_Close
1     0.001729   0.003116
2    -0.015906   0.000546
3    -0.001848   0.004001
4     0.006648   0.002882
5    -0.008821   0.001747
6    -0.011375  -0.009381
7     0.014106   0.008326
8    -0.005792   0.002426
9    -0.016712  -0.010823
10    0.044238   0.012500

In [14]:
cov_matrix = returns.cov()
beta = cov_matrix.loc["AAPL_Close", "SPX_Close"] / cov_matrix.loc["SPX_Close", "SPX_Close"]
print("Beta (AAPL vs SPX):", beta)

Beta (AAPL vs SPX): 1.1226045867790317

In [ ]:
import statsmodels.api as sm

X = sm.add_constant(returns["SPX_Close"])
y = returns["AAPL_Close"]  

model = sm.OLS(y, X).fit()
print(model.summary())

beta = model.params["SPX_Close"]
alpha = model.params["const"]

print(f"Alpha: {alpha}, Beta: {beta}")

                            OLS Regression Results
==============================================================================
Dep. Variable:             AAPL_Close   R-squared:                       0.480
Model:                            OLS   Adj. R-squared:                  0.480
Method:                 Least Squares   F-statistic:                     3591.
Date:                Thu, 25 Sep 2025   Prob (F-statistic):               0.00
Time:                        13:30:01   Log-Likelihood:                 11423.
No. Observations:                3895   AIC:                        -2.284e+04
Df Residuals:                    3893   BIC:                        -2.283e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0005      0.000      2.371      0.018    8.49e-05       0.001
SPX_Close      1.1226      0.019     59.925      0.000       1.086       1.159
==============================================================================
Omnibus:                      543.655   Durbin-Watson:                   1.902
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7539.468
Skew:                           0.029   Prob(JB):                         0.00
Kurtosis:                       9.816   Cond. No.                         90.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
Alpha: 0.0004902777361350198, Beta: 1.1226045867790317