In [2]:
import pandas as pd
import seaborn as sns

In [6]:
data = pd.read_csv("../data/nasdaq/AAPL.csv")
data.head(10)

,Price,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,6.431895732879639,6.446622218528988,6.382907496530451,6.4144643088171485,493729600
3,2010-01-05,6.443016052246094,6.479381644029889,6.409054448902572,6.449628123940107,601904800
4,2010-01-06,6.340530872344971,6.46856180575513,6.333918801147596,6.443015568304612,552160000
5,2010-01-07,6.328812122344971,6.371489655739187,6.282829354292311,6.363975934848162,477131200
6,2010-01-08,6.370884895324707,6.371486393954864,6.283127489111216,6.320393920585509,447610800
7,2010-01-11,6.314685344696045,6.401541520525446,6.264795057785504,6.395530545893654,462229600
8,2010-01-12,6.242855072021484,6.304466760171064,6.203784940266471,6.2870345322721555,594459600
9,2010-01-13,6.330915451049805,6.3393308177656555,6.1340611961291875,6.24736569038126,605892000