In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("../data/nasdaq/AMZN.csv")
df.head(10)

,Price,Close,High,Low,Open,Volume
0,Ticker,AMZN,AMZN,AMZN,AMZN,AMZN
1,Date,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,6.695000171661377,6.83050012588501,6.6570000648498535,6.8125,151998000
3,2010-01-05,6.734499931335449,6.77400016784668,6.5904998779296875,6.671500205993652,177038000
4,2010-01-06,6.612500190734863,6.736499786376953,6.582499980926514,6.730000019073486,143576000
5,2010-01-07,6.5,6.616000175476074,6.440000057220459,6.600500106811523,220604000
6,2010-01-08,6.676000118255615,6.684000015258789,6.451499938964844,6.5279998779296875,196610000
7,2010-01-11,6.515500068664551,6.639999866485596,6.4604997634887695,6.63100004196167,175588000
8,2010-01-12,6.367499828338623,6.491000175476074,6.327499866485596,6.44950008392334,181926000
9,2010-01-13,6.45550012588501,6.485499858856201,6.287499904632568,6.394999980926514,214464000